*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
#background{
    position: relative;
    width: 80vw;
    height: 70vh;
    background-color: green;
    padding: 0 0 0 20vw;
}
#jumper{
    position: relative;
    width: 100px;
    height: 100px;
    top: calc(70vh - 100px);
    background-color: black;
    transition-duration: 2px;
}
#ground{
    position: relative;
    width: 100vw;
    height: 30vh;
    background-color: skyblue;
}