*{
    margin: 0;
    padding: 0;
}
body{
    width: 1920px;
    height: 1080px;
}
#background{
    position: relative;
    z-index: 1;
    width: 1920px;
    height: 750px;
    background-color: green;
}
#jumper{
    position: absolute;
    z-index: 5;
    width: 100px;
    height: 100px;
    top:650px;
    left: 500px;
    background-color: black;
    transition: 0.7s;
}
#ground{
    position: relative;
    z-index: 1;
    width: 1920px;
    height: 330px;
    background-color: skyblue;
}