*{
    margin: 0;
    padding: 0;
}
#game-area { /* 게임이 진행되는 영역 */
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: lightblue;
    overflow: hidden;
}
#player { /* 플레이어 */
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    bottom: 0;
    left: 20vw;
}
#obstacle { /* 장애물 */
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: green;
    bottom: 0;
    right: 0;
    animation-name: obstacleMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
 
/* 장애물의 이동 애니메이션 */
@keyframes obstacleMove {
    from { right: 0; }
    to { right: 100vw; }
}